### Import Libraries

In [1]:
import pandas as pd
import os

### Task 1: Merger all data files into one

In [25]:
## Use ".\" to signifiy current dirrectory

df = pd.read_csv("./Sales_Data/Sales_April_2019.csv")
df.head(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
6,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016"
7,176563,Bose SoundSport Headphones,1,99.99,04/02/19 07:46,"668 Center St, Seattle, WA 98101"
8,176564,USB-C Charging Cable,1,11.95,04/12/19 10:58,"790 Ridge St, Atlanta, GA 30301"
9,176565,Macbook Pro Laptop,1,1700,04/24/19 10:38,"915 Willow St, San Francisco, CA 94016"

#### Make a temp df while we play around

In [26]:
df_temp = df
df_temp.head(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
6,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016"
7,176563,Bose SoundSport Headphones,1,99.99,04/02/19 07:46,"668 Center St, Seattle, WA 98101"
8,176564,USB-C Charging Cable,1,11.95,04/12/19 10:58,"790 Ridge St, Atlanta, GA 30301"
9,176565,Macbook Pro Laptop,1,1700,04/24/19 10:38,"915 Willow St, San Francisco, CA 94016"

#### Get a month column going

In [27]:
df_temp["Month"] = df_temp["Order Date"].str[:2]
df_temp.head(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04
6,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",04
7,176563,Bose SoundSport Headphones,1,99.99,04/02/19 07:46,"668 Center St, Seattle, WA 98101",04
8,176564,USB-C Charging Cable,1,11.95,04/12/19 10:58,"790 Ridge St, Atlanta, GA 30301",04
9,176565,Macbook Pro Laptop,1,1700,04/24/19 10:38,"915 Willow St, San Francisco, CA 94016",04

In [28]:
## Lets check to see if we have any abd data
df_temp.loc[df_temp["Month"] != "04"]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,176978,Apple Airpods Headphones,1,150,05/01/19 03:29,"589 Lake St, Portland, OR 97035",05
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
735,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
17339,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
17446,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17718,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17744,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
18355,194067,iPhone,1,700,05/01/19 04:25,"291 North St, San Francisco, CA 94016",05

#### Drop all rows containing all NaN values

In [29]:
df_temp = df_temp.dropna(how='all')
df_temp.loc[df_temp["Month"] != "04"]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
439,176978,Apple Airpods Headphones,1,150,05/01/19 03:29,"589 Lake St, Portland, OR 97035",05
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
1044,177551,27in FHD Monitor,1,149.99,05/01/19 00:13,"615 Lincoln St, San Francisco, CA 94016",05
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
...,...,...,...,...,...,...,...
17208,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
17324,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
17339,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
17744,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
18355,194067,iPhone,1,700,05/01/19 04:25,"291 North St, San Francisco, CA 94016",05

#### Get rid of Order or "Or" in month column by removing bad data

In [33]:
df_temp.loc[df_temp["Order ID"].str.contains('Order')]

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address, Month]
Index: []

In [31]:
## Get rid of anything containing "Or"
df_temp = df_temp.loc[~df_temp["Order ID"].str.contains('Order')]
df_temp.head(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04
6,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",04
7,176563,Bose SoundSport Headphones,1,99.99,04/02/19 07:46,"668 Center St, Seattle, WA 98101",04
8,176564,USB-C Charging Cable,1,11.95,04/12/19 10:58,"790 Ridge St, Atlanta, GA 30301",04
9,176565,Macbook Pro Laptop,1,1700,04/24/19 10:38,"915 Willow St, San Francisco, CA 94016",04
10,176566,Wired Headphones,1,11.99,04/08/19 14:05,"83 7th St, Boston, MA 02215",04

In [34]:
## Check to see if data is clean

df_temp.loc[~df_temp["Month"].str.contains('04')]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
439,176978,Apple Airpods Headphones,1,150,05/01/19 03:29,"589 Lake St, Portland, OR 97035",05
1044,177551,27in FHD Monitor,1,149.99,05/01/19 00:13,"615 Lincoln St, San Francisco, CA 94016",05
1282,177778,iPhone,1,700,05/01/19 00:48,"478 West St, Boston, MA 02215",05
1283,177778,Apple Airpods Headphones,1,150,05/01/19 00:48,"478 West St, Boston, MA 02215",05
2629,179076,Google Phone,1,600,05/01/19 00:17,"635 Chestnut St, San Francisco, CA 94016",05
2630,179076,USB-C Charging Cable,1,11.95,05/01/19 00:17,"635 Chestnut St, San Francisco, CA 94016",05
2690,179134,Apple Airpods Headphones,1,150,05/01/19 02:41,"950 Church St, Los Angeles, CA 90001",05
3609,180017,Bose SoundSport Headphones,1,99.99,05/01/19 00:58,"738 Adams St, New York City, NY 10001",05
4632,180989,Apple Airpods Headphones,1,150,05/01/19 00:54,"103 Church St, San Francisco, CA 94016",05
4676,181029,Bose SoundSport Headphones,1,99.99,05/01/19 01:27,"348 North St, San Francisco, CA 94016",05
4908,181248,AA Batteries (4-pack),2,3.84,05/01/19 00:38,"753 South St, San Francisco, CA 94016",05
5322,181645,Apple Airpods Headphones,1,150,05/01/19 02:37,"514 2nd St, Los Angeles, CA 90001",05
5366,181688,ThinkPad Laptop,1,999.99,05/01/19 02:07,"123 4th St, San Francisco, CA 94016",05
6558,182822,34in Ultrawide Monitor,1,379.99,05/01/19 00:46,"295 Ridge St, Dallas, TX 75001",05
7456,183669,ThinkPad Laptop,1,999.99,05/01/19 02:02,"186 Lake St, Los Angeles, CA 90001",05
7605,183813,Wired Headphones,1,11.99,05/01/19 00:39,"743 8th St, San Francisco, CA 94016",05
8219,184408,Bose SoundSport Headphones,1,99.99,05/01/19 00:04,"705 Dogwood St, Boston, MA 02215",05
12648,188615,20in Monitor,1,109.99,05/01/19 00:31,"858 12th St, San Francisco, CA 94016",05
13623,189545,20in Monitor,1,109.99,05/01/19 02:06,"670 5th St, San Francisco, CA 94016",05
13892,189805,Macbook Pro Laptop,1,1700,05/01/19 01:31,"919 Sunset St, San Francisco, CA 94016",05
13893,189806,Macbook Pro Laptop,1,1700,05/01/19 00:52,"928 Dogwood St, Dallas, TX 75001",05
13947,189854,USB-C Charging Cable,1,11.95,05/01/19 02:09,"743 Elm St, Boston, MA 02215",05
14756,190627,27in FHD Monitor,1,149.99,05/01/19 01:36,"482 Jefferson St, Boston, MA 02215",05
15229,191083,Apple Airpods Headphones,1,150,05/01/19 01:02,"955 13th St, Seattle, WA 98101",05
15304,191156,Wired Headphones,1,11.99,05/01/19 00:03,"757 Meadow St, Atlanta, GA 30301",05
15953,191774,AA Batteries (4-pack),1,3.84,05/01/19 00:51,"779 11th St, Boston, MA 02215",05
16933,192718,ThinkPad Laptop,1,999.99,05/01/19 00:54,"342 8th St, Portland, OR 97035",05
18355,194067,iPhone,1,700,05/01/19 04:25,"291 North St, San Francisco, CA 94016",05